body.darkMode {
    background: #121212;
    color: #e0e0e0;
}

/* BOXES */
body.darkMode .centerBox,
body.darkMode .formBox,
body.darkMode .popupBox,
body.darkMode .card,
body.darkMode .navbar,
body.darkMode .tabs {
    background: #1e1e1e;
    color: #e0e0e0;
}

/* INPUT */
body.darkMode input,
body.darkMode select {
    background: #2a2a2a;
    color: #e0e0e0;
    border: 1px solid #444;
}

/* BUTTONS */
body.darkMode .btn-secondary {
    background: #333;
    color: white;
}

body.darkMode .tabs button:hover {
    background: #333;
}

body.darkMode .tabs button.activeTabBtn {
    background: #3a7cff;
}

/* CARD */
body.darkMode .card {
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

/* NAVBAR */
body.darkMode .navbar {
    border-bottom: 1px solid #333;
}
